<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Farmaceutica.Properties.Settings.FARMACEUTICA2ConnectionString"
            connectionString= "Data Source=LAPTOP-E4M69B29\SQLEXPRESS;Initial Catalog=FarmaFinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>